body {
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    font-family: Consolas;
    text-align: center;
    padding-top: 50px;
  }

  h1, h3 {
    color: #fff;
  }

  img {
    margin-top: 50px;
    height: 150px;
    transition: transform 0.6s;
  }

  .flip {
    animation: flip 0.6s forwards;
  }

  @keyframes flip {
    from {
      transform: rotateX(0);
    }
    to {
      transform: rotateX(360deg);
    }
  } 
  section {
    text-align: center;
    
  }